<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Text_To_Speech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index2.html">PDFreader<span class="sr-only">(current)</span></a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>




      
<div class="container">
    <form method="post">
        

      <div class="form-group">
        <textarea class="form-control"   rows="5">

          

english----

A paragraph is a number of sentences grouped together and relating to one topic.
Or, a group of related sentences that develop a single point. 
This definition shows that the paragraphs of compositions are not mere arbitrary divisions

Hindi----

 एक पैराग्राफ कई वाक्यों को एक साथ समूहीकृत किया जाता है और एक विषय से संबंधित होता है।
या, संबंधित वाक्यों का एक समूह जो एक बिंदु विकसित करता है। 
इस परिभाषा से पता चलता है कि रचनाओं के पैराग्राफ केवल मनमाने विभाजन नहीं हैं

Bengali---


একটি অনুচ্ছেদ হ'ল বেশ কয়েকটি বাক্য যা একসাথে গোষ্ঠীবদ্ধ এবং একটি বিষয়ের সাথে সম্পর্কিত।
অথবা, সম্পর্কিত বাক্যগুলির একটি গ্রুপ যা একটি একক বিন্দু বিকাশ করে। 
এই সংজ্ঞাটি দেখায় যে রচনাগুলির অনুচ্ছেদগুলি নিছক নির্বিচারে বিভক্তি নয়


Odiya----

ଏକ ଅନୁଚ୍ଛେଦ ହେଉଛି ଏକତ୍ର ଗୋଷ୍ଠୀଭୁକ୍ତ ଏବଂ ଗୋଟିଏ ବିଷୟ ସହିତ ଜଡିତ ଅନେକ ବାକ୍ୟ |
କିମ୍ବା, ସମ୍ବନ୍ଧୀୟ ବାକ୍ୟଗୁଡ଼ିକର ଏକ ଗୋଷ୍ଠୀ ଯାହା ଗୋଟିଏ ବିନ୍ଦୁ ବିକଶିତ କରେ | 
ଏହି ସଂଜ୍ଞା ଦର୍ଶାଏ ଯେ ରଚନାଗୁଡ଼ିକର ଅନୁଚ୍ଛେଦ କେବଳ ମନମୁଖୀ ବିଭାଜନ ନୁହେଁ


Assam----

এটা পেৰাগ্ৰাফ হৈছে একেলগে গোট কৰা আৰু এটা বিষয়ৰ সৈতে সম্পৰ্কিত কেইবাটাও বাক্য।
বা, সম্পৰ্কিত বাক্যৰ এটা গোট যি এটা বিন্দু বিকশিত কৰে। 
এই সংজ্ঞাই দেখুৱায় যে ৰচনাসমূহৰ অনুচ্ছেদবোৰ কেৱল স্বেচ্ছাচাৰী বিভাজন নহয়



        </textarea>
      </div>
        <div class="form-group">
          <label for=""><h1>Enter Text Here</h1></label>
          <textarea class="form-control" name="text" id="text" rows="5">

            एक पैराग्राफ कई वाक्यों को एक साथ समूहीकृत किया जाता है और एक विषय से संबंधित होता है।
            या, संबंधित वाक्यों का एक समूह जो एक बिंदु विकसित करता है। 
            इस परिभाषा से पता चलता है कि रचनाओं के पैराग्राफ केवल मनमाने विभाजन नहीं हैं

          </textarea>
        </div>
        <div class="form-group">
            <label for="voices">Choose a Language</label>
              <select class="form-control" name="voices" id="voices">
                  <option value="en">English</option>
                  <option value="hi">Hindi</option>
                  <option value="bn">Bengali</option>
                  <option value="or">Odiya</option>
                  <option value="as">Assamese</option>
              </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>